<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css" type="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
        <meta charset="UTF-8">
        <title>Hacktiv8</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col s12 center">
                    <h1>WELCOME TO EXPRESS</h1>
                    <h3>This is my first Express Web</h3>
                    <br>
                    <a class="waves-effect waves-light btn-large" href="./user">Release the Users!</a>
                </div>
            </div>
        </div>
    </body>
</html>
