<!DOCTYPE html>
<html>
  <head>
    <title>Insert User</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  </head>
  <body>

    <div class="container">
      <h1>Insert User</h1>
      <div class="rows md8">
        <form method="post" action="insert">
          <label for="txtName"></label>
          <input type="text" name="name" id="name" placeholder="Insert Name"required></input>
          <input type="submit" value="Submit" class="btn btn-large">
        </form>
    </div>
    </div>
  </body>
</html>