<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Is Not My First Website</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  </head>
  <body>
    <h2 align='center'>INPUT HERE!</h2>
      <form class="" action="/edit/<%=data.id%>" method="post">
        <table class="responsive-table" style="width:60%" align='center'>
          <thead>
            <tr>

            </tr>
          </thead>
          <tbody>

            <tr>
              <td><input type="text" name="name" value="<%= data.name%>" placeholder="Input Your Name.."></td>
              <td><input type="text" name="email" value="<%= data.email%>" placeholder="Input Your Email.."></td>
              <td><input type="text" name="subject" value="<%= data.subject%>" placeholder="Input Your Subject.."></td>
            </tr>

            <tr>
                <td></td>
                <td><center><button type="submit" name="submit">SUBMIT</button></center></td>
                <td></td>
            </tr>
          </tbody>
        </table>
      </form>



  </body>
</html>


















