<!DOCTYPE html>
<html>
  <head>
    <title>Express from scratch</title>
  </head>
  <body>
      <h3>ini buat get </h3>
      <form action="/user" method="get">
        <input type="text" name="get">
        <button type="button" name="button">Get</button>
      </form>
      <h3> ini buat post </h3>
      <form action="/user" method="post">
        <input type="text" name="post">
        <button type="button" name="post">Post</button>
      </form>      
  </body>
</html>