<% include ../partials/header %>

      <div class="container">
        <div class="row">
          <h4><%= `Edit User` %></h4>
          <form action="/user/create" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Input firstname" name="fisrt_name"  id="name" type="text" class="validate">
                    <label for="name"> Firstame</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Input lastname" name="last_name"  id="name" type="text" class="validate">
                    <label for="name"> Lastame</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Input Phone" name="hobi"  id="phone" type="text" class="validate">
                    <label for="phone">Hobi</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Input username" name="username"  id="name" type="text" class="validate">
                    <label for="name"> Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Input lastname" name="email"  id="name" type="email" class="validate">
                    <label for="name"> Email</label>
                </div>
            </div>
                <div class="row">
                    <div class="input-field col s6">
                        <button class="btn" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>

      </div>
    </div>

    <% include ../partials/footer %>
