<html>
<head>
  <title>Show all user</title>
</head>
<body>
  <%for (let i = 0; i<akuns.length; i++) { %>
    <p class = 'id'><%= akuns[i].id %></p>
    <p class = 'name'><%= akuns[i].name %></p>
    <% } %>
</body>
</html>